      - name: Download & Unpack
        run: |
          # Use API link to get the actual JAR file
          curl -L "https://pixeldrain.com/api/file/ocB5FvXD" -o services.jar
          # Decompile using apktool located in /scripts
          java -jar scripts/apktool.jar d services.jar -o out_folder

      - name: Run Python Patcher
        run: python3 scripts/patcher.py

      - name: Rebuild JAR
        run: |
          # Build the modified folder back into a JAR
          java -jar scripts/apktool.jar b out_folder -o services_patched.jar
          # Update the JAR with your classes5.dex
          zip -u services_patched.jar classes5.dex

      - name: Cleanup Signature (Auto Sign Off)
        run: |
          # Remove META-INF to disable original signature
          zip -d services_patched.jar "META-INF/*"
          
